fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
httpx
pyjwt
python-dotenv
pytest
pytest-asyncio
pytest-cov
opentelemetry-api==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-instrumentation-httpx==0.49b2
opentelemetry-exporter-zipkin-json==1.28.2
