# Patterns to ignore when packaging Helm charts.
.DS_Store
.git/
.gitignore
.idea/
.vscode/
*.tmproj
*.bak
*.swp
*.tgz
*.orig
*~
# OWNERS is not used by this chart
OWNERS
# CI / local-only
ci/
tests/
